<!DOCTYPE html>

<html lang="en" xmlns="www.org.thymeleaf.org"
      th:replace="homeBase::layout(~{::section})">
  
    <head>
        <title th:value="${title}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>

        <section>
            
            <div class="container">
                
                
                
                
            </div>
            
        </section>

    </body>
</html>
